
/* https://bsnx.net/4.0/w/d/17662/ */
html {
  height: 100%;
  width: 100%;
}
h1, h2 {
  margin-top: 0;
  padding: 6px;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#ltop {
  height: 150px;
}
#q {
  width: 280px;
}
@media only screen and (orientation: landscape) {
  #lbar {
    width: 300px;
    height: 100%;
    float: left;
  }
  #list {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 150px;
    width: 300px;
    overflow-y: scroll;
  }
  #main {
    margin-left: 300px;
    height: 100%;
    overflow-y: scroll;
  }

}
@media only screen and (orientation: portrait) {
  #lbar { width: 100%; }
  #list {
    height: 300px;
    overflow-y: scroll;
    font-size: 130%;
  }
  button {
    font-size: 250%;
  }
}
.list_item {
  margin: 3px;
  padding: 3px;
  border: 1px #ccc solid;
        display: block;
        height: 70px;
}
#content_ops {
  padding: 6px;
}


.light > #lbar {
  background-color: rgb(201, 217, 247);
}
.light  .list_item {
  background-color: #fff;
}
.light  #lbar  a, .light  #lbar  a:visited {
  color: black;
}
.light  * {
    
}
.light .part_box {
  border: 1px #ccc solid;
  padding: 4px;
  margin: 4px;
  background-color: #ddf;
}


.dark a:link, .dark a:visited {
  color:rgb(95, 95, 245);
}
body.dark {
   background-color: #222;
   color: #eee;
}

.dark .part_box {
  border: 1px #ccc solid;
  padding: 4px;
  margin: 4px;
  background-color: #444;
}
